<div class="container">

    <h3>説明</h3>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p>メニューを追加する</p>
            <p>　「メニューを追加する」を押してメニューと価格を入力しよう。メニューの一覧は「メニューを削除・編集する」で確認できます。</p>
        </li>
        <br>
        <li class="list-group-item">
            <p>ガチャを選ぶ</p>
            <p>　「メニューを選ぶ」を押してみよう。次に品数を選択すると、メニューがランダムで選ばれます。</p>
        </li>
        <br>
        <li class="list-group-item">
            <p>メニューを削除・変更する</p>
            <p>　「メニューを削除・変更する」を押してみよう。「削除」「変更」ボタンで削除・変更できます。</p>
        </li>
    </ul>

</div>
