<div class="container">

    <h3>説明</h3>
    
    <ul>
        <li>
            <p>1. メニューを追加しよう</p>
            <p>　「メニューを編集する」を押してメニューと価格を入力しよう。</p>
        </li>
        <li>
            <p>2.ガチャを回そう</p>
            <p>　「遊ぶ」を押してみよう。あなたの代わりに合計500円以内のメニューを作ります。</p>
        </li>
    </ul>

</div>
