<div class="container">

<h1>学食ガチャ</h1>

<a href="/select" type="button" class="btn btn-warning btn-lg btn-block">メニューを選ぶ</a>
<a href="/create" type="button" class="btn btn-warning btn-lg btn-block">メニューを追加する</a>
<a href="/conform" type="button" class="btn btn-warning btn-lg btn-block">メニューを削除・変更する</a>
<a href="/description" type="button" class="btn btn-warning btn-lg btn-block">遊び方の説明を見る</a>



</div>