<div class="container">

<h3>件数選択</h3>
<a href="/play?count=1" type="button" class="btn btn-warning btn-lg btn-block">メニューを1つ選ぶ</a>
<a href="/play?count=2" type="button" class="btn btn-warning btn-lg btn-block">メニューを2つ選ぶ</a>
<a href="/play?count=3" type="button" class="btn btn-warning btn-lg btn-block">メニューを3つ選ぶ</a>
<a href="/play?count=4" type="button" class="btn btn-warning btn-lg btn-block">メニューを4つ選ぶ</a>
<a href="/play?count=5" type="button" class="btn btn-warning btn-lg btn-block">メニューを5つ選ぶ</a>


</div>