<h3>品数を選択</h3>
<% 1.upto(5) do |num| %>
    <a href="/play?count=<%=num %>" type="button" class="btn btn-warning btn-lg btn-block">メニューを<%= num %>つ選ぶ</a>
<% end %>

<br>
<a href="/" class="btn btn-primary">戻る</a>